# A USB stick image: one EFI system partition holding the kernel (with the
# root filesystem inside it) as the default UEFI boot loader.
image efi-part.vfat {
	vfat {
		file EFI/BOOT/BOOTX64.EFI {
			image = "bzImage"
		}
	}
	size = 512M
}

image bootani-usb.img {
	hdimage {
		partition-table-type = "gpt"
	}
	partition boot {
		image = "efi-part.vfat"
		partition-type-uuid = U
		bootable = true
	}
}
